annotated-types==0.7.0
astropy==6.1.0
astropy-iers-data==0.2024.5.27.0.30.8
astroquery==0.4.7
backports.tarfile==1.2.0
beautifulsoup4==4.12.3
certifi==2024.2.2
cffi==1.16.0
ChainConsumer==1.1.1
charset-normalizer==3.3.2
contourpy==1.2.1
corner==2.2.2
cryptography==42.0.7
cycler==0.12.1
emcee==3.1.6
fonttools==4.52.4
html5lib==1.1
idna==3.7
importlib_metadata==7.1.0
jaraco.classes==3.4.0
jaraco.context==5.3.0
jaraco.functools==4.0.1
jax==0.3.25 
jaxlib==0.3.25
jaxnuts==0.0.1
jeepney==0.8.0
keyring==25.2.1
kiwisolver==1.4.5
matplotlib==3.9.0
more-itertools==10.2.0
numpy==1.26.4
opt-einsum==3.3.0
packaging==24.0
pandas==2.2.2
patsy==0.5.6
pillow==10.3.0
pycparser==2.22
pydantic==2.7.2
pydantic_core==2.18.3
pyerfa==2.0.1.4
pyparsing==3.1.2
python-dateutil==2.9.0.post0
pytz==2024.1
pyvo==1.5.2
PyYAML==6.0.1
requests==2.32.3
scipy==1.13.1
SecretStorage==3.3.3
six==1.16.0
soupsieve==2.5
statsmodels==0.14.2
tqdm==4.66.4
typing_extensions==4.12.0
tzdata==2024.1
urllib3==2.2.1
webencodings==0.5.1
zipp==3.19.0
