# Combined kcor file create by mvincenzi
# Date = 2022-12-15

SN_SED:       Hsiao07.dat 
BD17_SED:     $SNDATA_ROOT/standards/bd_17d4708_stisnic_007.dat
LAMBDA_RANGE: 2100 20000 
OUTFILE:      calib_DES-SN5YR_LOWZ.fits 

# Start filters for VERSION = Pantheon+_CSPDR3
MAGSYSTEM:   BD17 
FILTSYSTEM:  COUNT 
FILTPATH:    $SNDATA_ROOT/filters/CSP/CSP_TAMU_20180316 
SURVEY:      CSP 
#                                                        m_BD17 + Fragilistic
FILTER:  CSP-u/a              u_tel_ccd_atm_ext_1.2.dat  10.518 
FILTER:  CSP-g/b              g_tel_ccd_atm_ext_1.2.dat  9.644-0.005+0.009 
FILTER:  CSP-r/c              r_tel_ccd_atm_ext_1.2.dat  9.352+0.006+0.001 
FILTER:  CSP-i/d              i_tel_ccd_atm_ext_1.2.dat  9.250+0.007-0.016 
FILTER:  CSP-B/e              B_tel_ccd_atm_ext_1.2.dat  9.896-0.0152 
FILTER:  CSP-V/f              V_LC9844_tel_ccd_atm_ext_1.2.dat  9.494-0.02 
FILTER:  CSP-o/g              V_LC3009_tel_ccd_atm_ext_1.2.dat  9.488-0.02 
FILTER:  CSP-m/h              V_LC3014_tel_ccd_atm_ext_1.2.dat  9.492-0.02 
FILTER:  CSP-n/i              V_LC9844_tel_ccd_atm_ext_1.2.dat  9.494-0.02 
FILTER:  CSP-Y/j              Y_SWO_TAM_scan_atm.dat     8.632 
FILTER:  CSP-y/k              Y_DUP_TAM_scan_atm.dat     8.620 
FILTER:  CSP-J/l              Jrc1_SWO_TAM_scan_atm.dat  8.419 
FILTER:  CSP-j/m              Jrc2_SWO_TAM_scan_atm.dat  8.426 
FILTER:  CSP-H/n              H_SWO_TAM_scan_atm.dat     8.125 
FILTER:  CSP-h/o              H_DUP_TAM_scan_atm.dat     8.126 

# Start filters for VERSION = Pantheon+_CFA3K
MAGSYSTEM:   BD17 
FILTSYSTEM:  COUNT 
FILTPATH:    $SNDATA_ROOT/filters/PS1/Pantheon/PS1_CFA4 
SURVEY:      CFA3K,CFA3 
#                                                    m_BD17 + Fragilistic
FILTER:  CFA3K-U/p            cfa4_U_p1.dat          9.724 
FILTER:  CFA3K-B/q            cfa4_B_p1+modtran.dat  9.88605-0.0249 
FILTER:  CFA3K-V/r            cfa4_V_p1+modtran.dat  9.47432-0.0057 
FILTER:  CFA3K-r/s            cfa4_r_p1+modtran.dat  9.35252+0.007 
FILTER:  CFA3K-i/t            cfa4_i_p1+modtran.dat  9.25465+0.0049 

# Start filters for VERSION = Pantheon+_CFA3S
MAGSYSTEM:   BD17 
FILTSYSTEM:  COUNT 
FILTPATH:    $SNDATA_ROOT/filters/PS1/Pantheon/CFA3_native 
SURVEY:      CFA3S,CFA3 
#                                                    m_BD17 + Fragilistic
FILTER:  CFA3S-U/u            SNLS3_4shooter2_U.dat  9.6930 
FILTER:  CFA3S-B/v            SNLS3_4shooter2_B.dat  9.87400-0.0377 
FILTER:  CFA3S-V/w            SNLS3_4shooter2_V.dat  9.47900-0.0087 
FILTER:  CFA3S-R/x            SNLS3_4shooter2_R.dat  9.15500-0.0137 
FILTER:  CFA3S-I/y            SNLS3_4shooter2_I.dat  8.85100-0.0050 

# Start filters for VERSION = Pantheon+_CFA4p1
MAGSYSTEM:   BD17 
FILTSYSTEM:  COUNT 
FILTPATH:    $SNDATA_ROOT/filters/PS1/Pantheon/PS1_CFA4 
SURVEY:      CFA4p1 
#                                                    m_BD17 + Fragilistic
FILTER:  CFA41-U/z            cfa4_U_p1.dat          9.724 
FILTER:  CFA41-B/A            cfa4_B_p1+modtran.dat  9.88605-0.0057 
FILTER:  CFA41-V/B            cfa4_V_p1+modtran.dat  9.47432-0.0005 
FILTER:  CFA41-r/C            cfa4_r_p1+modtran.dat  9.35252+0.0029 
FILTER:  CFA41-i/D            cfa4_i_p1+modtran.dat  9.25465+0.0048 

# Start filters for VERSION = Pantheon+_CFA4p2
MAGSYSTEM:   BD17 
FILTSYSTEM:  COUNT 
FILTPATH:    $SNDATA_ROOT/filters/PS1/Pantheon/PS1_CFA4 
SURVEY:      CFA4p2 
#                                                    m_BD17 + Fragilistic
FILTER:  CFA42-B/E            cfa4_B_p2+modtran.dat  9.86124+0.0278 
FILTER:  CFA42-V/F            cfa4_V_p2+modtran.dat  9.47432+0.0052 
FILTER:  CFA42-r/G            cfa4_r_p2+modtran.dat  9.35730+0.01 
FILTER:  CFA42-i/H            cfa4_i_p2+modtran.dat  9.25521+0.0102 
